<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/browse.css')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/credentials.css')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/movie.css')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css')}}"/>
    {% block head %} {% endblock %}
</head>
<body>
    {% include 'navbar.html' %}
    {% block body %}{% endblock %}

    <footer>
        <p> &copy; ycha613
    </footer>
</body>

</html>