{% extends 'base.html' %}

{% block head %}
<title> Movies </title>
{% endblock %}

{% block body %}
<h1> Movies </h1>

<form method="GET" class = "search-form">
    <div class = "search-container">
        {{ form.search_type.label }}
        {{ form.search_type(class_="dropdown-field") }}
        {{ form.search_term(class_="search-term", placeholder="Search")}}
        {{ form.submit(class_="submit-button")}}

    </div>
</form>

{% if search_term != '' %}
    <p class="search-text">Search by {{search_type}} '{{search_term}}'</p>
{% endif %}
<p class="search-text">page {{page_id}} out of {{max_page}}</p>

<div class="pagination-buttons">
    {% if page_id > 1 %}
        <a href="{{ url_for('browse_bp.browse', page_id=page_id-1, search_term=search_term, search_type=search_type) }}" class="page-btn">Prev</a>
    {% endif %}
    {% if page_id < max_page %}
        <a href="{{ url_for('browse_bp.browse', page_id=page_id+1, search_term=search_term, search_type=search_type) }}" class="page-btn">Next</a>
    {% endif %}

    <form method="GET" action="{{ url_for('browse_bp.browse') }}" class="page-jump-form">
        <input type="number" id="page-input" name="page_id" min="1" max="{{ max_page }}" value="{{ page_id }}" required>
        <input type="hidden" name="search_term" value="{{ search_term }}">
        <input type="hidden" name="search_type" value="{{ search_type }}">
        <button type="submit">Go</button>
    </form>
</div>

<div class="movie-grid">
    {% for movie in movies %}
    <div class="movie-grid-display">
        <a href="{{ url_for('browse_bp.movie', movie_id=movie.id)}}" class="description-link">
            <img class="movie-poster" src="{{movie.poster_link}}" alt="movie poster"/>
            <p class="movie-title">{{movie.title}}</p>
        </a>
    </div>
    {% endfor %}
</div>

<div class="pagination-buttons">
    {% if page_id > 1 %}
        <a href="{{ url_for('browse_bp.browse', page_id=page_id-1, search_term=search_term, search_type=search_type) }}" class="page-btn">Prev</a>
    {% endif %}
    {% if page_id < max_page %}
        <a href="{{ url_for('browse_bp.browse', page_id=page_id+1, search_term=search_term, search_type=search_type) }}" class="page-btn">Next</a>
    {% endif %}

    <form method="GET" action="{{ url_for('browse_bp.browse') }}" class="page-jump-form">
        <input type="number" id="page-input" name="page_id" min="1" max="{{ max_page }}" value="{{ page_id }}" required>
        <input type="hidden" name="search_term" value="{{ search_term }}">
        <input type="hidden" name="search_type" value="{{ search_type }}">
        <button type="submit">Go</button>
    </form>
</div>

{% endblock %}