{% extends 'base.html' %}

{% block head %}
<title> Movies </title>
{% endblock %}

{% block body %}
<h1> Movies </h1>

<form method="GET" class = "search-form">
    {{ form.hidden_tag() }}
    <div class = "search-container">
        {{ form.search_term(class_="search-term")}}
        {{ form.submit(class_="submit-button")}}
    </div>
    <br>
    <div>
        {{ form.search_type.label }}
        {{ form.search_type(class_="dropdown-field") }}
    </div>
</form>
<p>Search by {{search_type}} with key '{{search_term}}'</p>
<p>page {{page_id}} out of {{max_page}}</p>

<div class="movie-grid">
    {% for movie in movies %}
    <div class="movie-grid-display">
        <a href="{{ url_for('browse_bp.movie', movie_id=movie.id)}}" class="description-link">
            <img class="movie-poster" src="{{movie.poster_link}}" alt="movie poster"/>
            <p class="movie-title">{{movie.title}}</p>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock %}