{% extends 'base.html' %}

{% block head %}
    <title>Credentials</title>
{% endblock %}

{% block body %}
<div class="authform">
    <h1 class="authform-title">{{ title }}</h1>
    <form method="POST" action="{{ handler_url }}">
        {{ form.csrf_token }}
        <div class="authform-field">
            {{ form.user_name.label }}{{ form.user_name(class="credentials-input") }}
            {%  if form.user_name.errors or user_name_error_message is not none %}
                <ul class="errors">
                    {% if user_name_error_message is not none %}
                        <li>❌ {{ user_name_error_message }}</li>
                    {% endif %}
                    {% for error in form.user_name.errors %}
                        <li>❌ {{ error }}</li>
                    {%  endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="authform-field">
            {{ form.password.label }}{{ form.password(class="credentials-input") }}
            {%  if form.password.errors or password_error_message is not none %}
                <ul class="errors">
                    {% if password_error_message is not none %}
                        <li>❌ {{ password_error_message }}</li>
                    {% endif %}
                    {% for error in form.password.errors %}
                        <li>❌ {{ error }}</li>
                    {%  endfor %}
                </ul>
            {% endif %}
        </div>
        {{ form.submit(class="credentials-submit") }}
    </form>
</div>
{% endblock %}