{% extends 'base.html' %}
{%  block head %}
    <title>{{movie.title}}</title>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/togglelists_moviepage.js') }}" defer="defer"></script>
{% endblock %}

<!-- Movie has title, poster_link, release_year, description, runtime, genres -->

{% block body %}

<h1> Browse Movies </h1>
<div class="description-container">
    <img src = "{{ movie.poster_link }}" class = "description-image" alt="movie poster" onerror="this.onerror=null;this.src='/static/images/default_poster.png';">
    <div class="description-information">
        <h2>{{ movie.title }}</h2>
        <!-- description, genres, runtime, release year -->
        {% if movie.description == "" %}
            <p class="description"><b>Description:</b> Description not added for {{ movie.title }}</p>
        {% else %}
            <p class="description"><b>Description:</b> {{ movie.description }}</p>
        {% endif %}

        <p><b>Genres:</b></p>
         <ul>
             {% for genre in movie.genres %}
                <li>{{ genre.name }}</li>
             {% endfor %}
         </ul>

        {% if movie.runtime == -1 %}
            <p>Runtime not added for  {{ movie.title }}</p>
        {% else %}
            <p><b>Runtime: </b>{{ movie.runtime }} min</p>
        {% endif %}

        <p><b>Release year: </b>{{ movie.release_year }}</p>

        <!-- add / remove watched / watchlist-->
         {% if username %}
            <button class="toggle-button-movie" data-type="watchlist" data-movie-id="{{ movie.id }}">
            {% if movie in user.watchlist %}Remove from Watchlist{% else %}Add to Watchlist{% endif %}
            </button>

            <button class="toggle-button-movie" data-type="watched" data-movie-id="{{ movie.id }}">
            {% if movie in user.watched %}Remove from Watched{% else %}Add to Watched{% endif %}
            </button>
        {% else %}
            <p> Log in to add to watchlist / watched </p>
        {% endif %}
    </div>
</div>

{% if username %}
<div class="noteform">
    <p class="noteform-title">Add a new note for this movie</p>
    <form method="POST" action="">
        {{form.hidden_tag()}}
        {{form.note(rows=5, cols=60)}}
        {% for error in form.note.errors %}
            <p class="noteform-errors">{{error}}</p>
        {% endfor %}
        <p class="noteform-submit">{{form.submit()}}</p>
    </form>
</div>

<div class="note-grid">
    {% for movie_note in notes %}
        <div class="note-display">
            <p class="note-title">Note on {{movie.title}} by {{username}}</p>
            <p>{{movie_note.note}}</p>
        </div>
    {% endfor %}
</div>

{% endif %}

{% endblock %}