<div class="navbar">
    <h1 class="navbar-title">MyStoryShelf</h1>
    <p class="nav-upis">&copy; ycha613 </p>
    <ul class="nav-links">
        <li><a href="{{ url_for('home_bp.home') }}">Home</a></li>
        <li><a href="{{ url_for('browse_bp.browse', page_id=1)}}">Movies</a></a></li>
        {% if username %}
        <li><a href="{{ url_for('profile_bp.profile', username=username )}}">{{ username }}'s Profile</a></li>
        <li><a href="{{ url_for('authentication_bp.logout' )}}">Logout</a></li>
        {% else %}
        <li><a href="{{ url_for('authentication_bp.register' )}}">Register</a></li>
        <li><a href="{{ url_for('authentication_bp.login' )}}">Login</a></li>
        {% endif %}
    </ul>
</div>