{% extends 'base.html' %}

{% block head %}
<title> Movies </title>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/togglelists_profilepage.js') }}" defer="defer"></script>
{% endblock %}

{% block body %}

<h1> {{ username }}'s profile </h1>
<div class="profile-container">
    <div class="movie-list">
        <h2>Watchlist</h2>
        {% for movie in user.watchlist %}
        <div class="movie-row" id="watchlist-{{ movie.id }}" href="{{ url_for('browse_bp.movie', movie_id=movie.id) }}">
            <img src="{{ movie.poster_link }}" alt="Poster of {{ movie.title }}" onerror="this.onerror=null;this.src='/static/images/default_poster.png';">
            <div class="movie-title">{{ movie.title }}</div>
            <button class="toggle-button-profile" data-type="watchlist" data-movie-id="{{ movie.id }}">X</button>
        </div>
        {% else %}
        <p>No movies in watchlist.</p>
        {% endfor %}
    </div>

    <div class="movie-list">
        <h2>Watched</h2>
        {% for movie in user.watched %}
        <div class="movie-row" id="watched-{{ movie.id }}" href="{{ url_for('browse_bp.movie', movie_id=movie.id) }}">
            <img src="{{ movie.poster_link }}" alt="Poster of {{ movie.title }}" onerror="this.onerror=null;this.src='/static/images/default_poster.png';">
            <div class="movie-title">{{ movie.title }}</div>
            <button class="toggle-button-profile" data-type="watched" data-movie-id="{{ movie.id }}">X</button>
        </div>
        {% else %}
        <p>No watched movies yet.</p>
        {% endfor %}
    </div>
</div>

<h4>My Movie Notes</h1>
<div class="note-grid">
{% for movie_note in notes %}
    <div class="note-display">
        <p class="note-title">Note on {{movie_note.movie.title}} by {{username}}</p>
        <p>{{movie_note.note}}</p>
    </div>
{% endfor %}
</div>

{% endblock %}