{% extends 'base.html' %}

{% block head %}
<title> Movies </title>
{% endblock %}

{% block body %}

<h1> {{ username }}'s profile </h1>
<div class="profile-container">
    <div class="movie-list">
        <h2>Watchlist</h2>
        {% for movie in watchlist %}
        <div class="movie-row">
            <img src="{{ movie.poster_link }}" alt="Poster of {{ movie.title }}">
            <div class="movie-title">{{ movie.title }}</div>
        </div>
        {% else %}
        <p>No movies in watchlist.</p>
        {% endfor %}
    </div>

    <div class="movie-list">
        <h2>Watched</h2>
        {% for movie in watched %}
        <div class="movie-row">
            <img src="{{ movie.poster_link }}" alt="Poster of {{ movie.title }}">
            <div class="movie-title">{{ movie.title }}</div>
        </div>
        {% else %}
        <p>No watched movies yet.</p>
        {% endfor %}
    </div>
</div>

{% endblock %}