.movie-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 10px 60px;
    column-gap: 10px;
    row-gap: 15px;
    padding: 8px;
}

.movie-grid-display {
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    padding-top: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.movie-grid-display:hover {
    background-color: lightgray;
    border: 1px solid black;
    transition: 0.1s;
}

.movie-poster {
    border-radius: 2px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.movie-title {
    font-size: 10px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.description-link {
    text-decoration: none;
    color: black;
}


.search-form {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    padding: 15px;
    gap: 2px;
}


.search-container {
    display: flex;
    align-items: center;
    width: 80%;
}


.search-term {
    outline: none;
    border: none;
    flex: 1;
    border-radius: 10px 0 0 10px;
    width: 600px;
    height: 50px;
    font-size: 18px;
    padding: 0 15px;
    box-sizing: border-box;
}


.submit-button {
    border: none;
    background-color: white;
    color: black;
    height: 50px;
    font-size: 18px;
    padding: 0 20px;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit-button:hover {
    background-color: lightgray;
}

.dropdown-field {
    border: 1px;
    border-radius: 10px;
    height: 30px;
    font-size: 18px;
    padding: 0 10px;
    box-sizing: border-box;
    background-color: white;
    color: black;
    width: 150px;
    margin-left: 10px;
    margin-right: 20px;
}

.search-text {
    margin-bottom: 5px;
}


.pagination-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.page-btn {
    background-color: #007BFF;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.2s ease;
}

.page-btn:hover {
    background-color: #0056b3;
}

.page-jump-form {
    display: flex;
    align-items: center;
    gap: 5px;
}

#page-input {
    width: 60px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.page-jump-form button {
    padding: 5px 10px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.page-jump-form button:hover {
    background-color: #1e7e34;
}