.authform {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.credentials-input {
    width: 400px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}

.credentials-submit {
    width: 160px;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
}

.credentials-submit:hover {
    background-color: lightgray;
}

.errors {
    margin: 0 0 8px 0;
    width: 400px;
    list-style-type: none;
    padding-inline-start: 0;
}

.errors li {
    background-color: #ff3300;
    border-radius: 5px;
    padding: 6px;
    text-wrap: wrap;
    font-size: 14px;
}