.description-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 20px 50px;
    width: 90%;
    background-color: white;
    border: 1px solid lightgray;
    height: auto;
}

.description-image {
    width: 35%;
    height: auto;
    border: 5px solid black;
    margin-left: 30px;
}

.description-information {
    margin-left: 50px;
}

.toggle-button-movie {
    padding: 5px;
    border-radius: 4px;
    background-color: #f0f0f0;
    border: 1px solid lightgray;
}

.toggle-button-movie:hover {
    cursor: pointer;
    background-color: lightgray;
}


.note-grid {
    display: flex;
    flex-direction: row;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.note-display {
    background-color: white;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 8px;
}

.note-display p {
    font-size: 12px;
    margin: none;
    line-height: 0.5;
}

.note-title {
    font-weight: 600;
    margin-bottom: 20px;
}